/*
  card
  undefined
*/

.effect-depth-card {
  box-shadow: 1px 1px 3px 0px #00000033;
}

/*
  hover
  undefined
*/

.effect-depth-hover {
  box-shadow: 3px 3px 6px 0px #00000033;
}

/*
  modal
  undefined
*/

.effect-depth-modal {
  box-shadow: 0px 7px 10px 0px #00000033;
}

/*
  ui
  undefined
*/

.effect-depth-ui {
  box-shadow: 1px 1px 2px 0px #00000033;
}
