.theme-dark {
  --color-sequential-negative-3: #f38c7c;
  --color-sequential-negative-2: #da5c4b;
  --color-sequential-negative-1: #a7332a;
  --color-sequential-negative-0: #601817;
  --color-sequential-positive-3: #9ed0dd;
  --color-sequential-positive-2: #66b5cb;
  --color-sequential-positive-1: #348ba1;
  --color-sequential-positive-0: #175462;
  --color-sequential-3: #9ed0dd;
  --color-sequential-2: #66b5cb;
  --color-sequential-1: #348ba1;
  --color-sequential-0: #175462;
  --color-diverging-negative-2: #da5c4b;
  --color-diverging-negative-1: #832521;
  --color-diverging-neutral: #2c343e;
  --color-diverging-positive-2: #66b5cb;
  --color-diverging-positive-1: #256f81;
  --color-complementary-stronger: #da5c4b; /* First step in the based diverging color scale, used for the lowest (most negative) value.  */
  --color-complementary-weaker: #832521; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-complementary-base: #cc4233; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-category-weaker-99: #6b7581;
  --color-category-weaker-5: #575b20;
  --color-category-weaker-4: #366d53;
  --color-category-weaker-3: #a07730;
  --color-category-weaker-2: #993d31;
  --color-category-weaker-1: #613f70;
  --color-category-weaker-0: #124874;
  --color-category-base-99: #9ea9b5;
  --color-category-base-5: #7e8518;
  --color-category-base-4: #458a69;
  --color-category-base-3: #dc9d38;
  --color-category-base-2: #c85543;
  --color-category-base-1: #825497;
  --color-category-base-0: #22699a;
  --color-category-stronger-99: #c0c8d2;
  --color-category-stronger-5: #ced56d;
  --color-category-stronger-4: #83c0a4;
  --color-category-stronger-3: #f8c975;
  --color-category-stronger-2: #e38c7c;
  --color-category-stronger-1: #b386c8;
  --color-category-stronger-0: #83bad9;
  --color-functional-filtered-out: #474b69;
  --color-functional-not-available: #cccccc;
  --color-functional-focus: #ffcb01;
  --color-functional-accent: #ffcb01;
  --color-theme-stronger: #83c3d4;
  --color-theme-weaker: #256f81;
  --color-theme-base: #44a8c3;
  --color-text-stronger: #ffffff; /* Stronger text color for maximum background contrast. */
  --color-text-base: #f8f8f8;
  --color-text-weaker: #abafb0;
  --color-foreground-weakest: #717576;
  --color-foreground-weaker: #abafb0;
  --color-foreground-base: #eaeaea;
  --color-background-weakest: #666666;
  --color-background-weaker: #333333; /* slightly shaded background */
  --color-background-base: #111111;
  --color-teal-dark-900: #b8dee7;
  --color-teal-dark-800: #9ed0dd;
  --color-teal-dark-700: #83c3d4;
  --color-teal-dark-600: #66b5cb;
  --color-teal-dark-500: #44a8c3;
  --color-teal-dark-400: #348ba1;
  --color-teal-dark-300: #256f81;
  --color-teal-dark-200: #175462;
  --color-teal-dark-100: #093a45;
  --color-red-dark-900: #fea496;
  --color-red-dark-800: #f38c7c;
  --color-red-dark-700: #e77463;
  --color-red-dark-600: #da5c4b;
  --color-red-dark-500: #cc4233;
  --color-red-dark-400: #a7332a;
  --color-red-dark-300: #832521;
  --color-red-dark-200: #601817;
  --color-red-dark-100: #400c0a;
  --color-red-900: #ffe9e5;
  --color-red-800: #fbc8bf;
  --color-red-700: #f3a79a;
  --color-red-600: #e98676;
  --color-red-500: #dc6454;
  --color-red-400: #c9513f;
  --color-red-300: #b53d2b;
  --color-red-200: #a12917;
  --color-red-100: #8d1000;
  --color-teal-900: #e8eced;
  --color-teal-800: #c3d6dc;
  --color-teal-700: #9fc1cc;
  --color-teal-600: #79abbc;
  --color-teal-500: #5196ae;
  --color-teal-400: #377796;
  --color-teal-300: #215a7d;
  --color-teal-200: #0e3e63;
  --color-teal-100: #002348;
  --color-grey-000: #000000;
  --color-grey-900: #ffffff;
  --color-grey-800: #f1f2f3;
  --color-grey-750: #e0e2e4;
  --color-grey-600: #c0c8d2;
  --color-grey-500: #9ea9b5;
  --color-grey-400: #6b7581;
  --color-grey-300: #3d4246;
  --color-grey-100: #191919;
}
