:root {
  --meta-project-title: <BRAND>;
  --meta-version: v0.9.0;
  --meta-project-subtitle: Data Design Language;
  --meta-last-updated: 1986;
  --meta-authors: Moritz Stefaner / Truth & Beauty with Christian Laesser, Alice Thudt, Flavio Gortana;
  --typography-font-family-base: Inter;
  --typography-font-family-heading: Inter;
  --typography-font-family-mono: IBM Plex Mono;
  --typography-line-height-base: 160%;
  --typography-line-height-tighter: 145%;
  --typography-line-height-tightest: 115%;
  --typography-font-weight-regular: 400;
  --typography-font-weight-bold: 700;
  --typography-font-weight-semi-bold: 600;
  --typography-letter-spacing-base: 0%;
  --typography-letter-spacing-looser: 15%;
  --typography-paragraph-spacing-none: 0;
  --typography-paragraph-spacing-base: 8;
  --typography-text-case-none: none;
  --typography-text-case-uppercase: uppercase;
  --typography-text-decoration-none: none;
  --typography-styles-base-font-family: Inter;
  --typography-styles-base-font-weight: 400;
  --typography-styles-base-line-height: 160%;
  --typography-styles-base-font-size: 16;
  --typography-styles-base-letter-spacing: 0%;
  --typography-styles-base-paragraph-spacing: 8;
  --typography-styles-base-text-decoration: none;
  --typography-styles-base-text-case: none;
  --typography-styles-huge-font-family: Inter;
  --typography-styles-huge-font-weight: 700;
  --typography-styles-huge-line-height: 115%;
  --typography-styles-huge-font-size: 37.642;
  --typography-styles-huge-letter-spacing: 0%;
  --typography-styles-huge-paragraph-spacing: 8;
  --typography-styles-huge-text-decoration: none;
  --typography-styles-huge-text-case: none;
  --typography-styles-title-font-family: Inter;
  --typography-styles-title-font-weight: 700;
  --typography-styles-title-line-height: 115%;
  --typography-styles-title-font-size: 28.302;
  --typography-styles-title-letter-spacing: 0%;
  --typography-styles-title-paragraph-spacing: 8;
  --typography-styles-title-text-decoration: none;
  --typography-styles-title-text-case: none;
  --typography-styles-major-primary-font-family: Inter;
  --typography-styles-major-primary-font-weight: 700;
  --typography-styles-major-primary-line-height: 145%;
  --typography-styles-major-primary-font-size: 16;
  --typography-styles-major-primary-letter-spacing: 0%;
  --typography-styles-major-primary-paragraph-spacing: 8;
  --typography-styles-major-primary-text-decoration: none;
  --typography-styles-major-primary-text-case: none;
  --typography-styles-major-secondary-font-family: Inter;
  --typography-styles-major-secondary-font-weight: 400;
  --typography-styles-major-secondary-line-height: 145%;
  --typography-styles-major-secondary-font-size: 16;
  --typography-styles-major-secondary-letter-spacing: 0%;
  --typography-styles-major-secondary-paragraph-spacing: 8;
  --typography-styles-major-secondary-text-decoration: none;
  --typography-styles-major-secondary-text-case: none;
  --typography-styles-minor-primary-font-family: Inter;
  --typography-styles-minor-primary-font-weight: 700;
  --typography-styles-minor-primary-line-height: 115%;
  --typography-styles-minor-primary-font-size: 14.545;
  --typography-styles-minor-primary-letter-spacing: 0%;
  --typography-styles-minor-primary-paragraph-spacing: 8;
  --typography-styles-minor-primary-text-decoration: none;
  --typography-styles-minor-primary-text-case: none;
  --typography-styles-minor-secondary-font-family: Inter;
  --typography-styles-minor-secondary-font-weight: 400;
  --typography-styles-minor-secondary-line-height: 115%;
  --typography-styles-minor-secondary-font-size: 14.545;
  --typography-styles-minor-secondary-letter-spacing: 0%;
  --typography-styles-minor-secondary-paragraph-spacing: 8;
  --typography-styles-minor-secondary-text-decoration: none;
  --typography-styles-minor-secondary-text-case: none;
  --effects-depth-card-x: 1;
  --effects-depth-card-y: 1;
  --effects-depth-card-blur: 3;
  --effects-depth-card-spread: 0;
  --effects-depth-card-color: #00000033;
  --effects-depth-card-type: dropShadow;
  --effects-depth-hover-x: 3;
  --effects-depth-hover-y: 3;
  --effects-depth-hover-blur: 6;
  --effects-depth-hover-spread: 0;
  --effects-depth-hover-color: #00000033;
  --effects-depth-hover-type: dropShadow;
  --effects-depth-modal-color: #00000033;
  --effects-depth-modal-type: dropShadow;
  --effects-depth-modal-x: 0;
  --effects-depth-modal-y: 7;
  --effects-depth-modal-blur: 10;
  --effects-depth-modal-spread: 0;
  --effects-depth-ui-x: 1;
  --effects-depth-ui-y: 1;
  --effects-depth-ui-blur: 2;
  --effects-depth-ui-spread: 0;
  --effects-depth-ui-color: #00000033;
  --effects-depth-ui-type: dropShadow;
  --size-breakpoint-xs: 480rem;
  --size-breakpoint-sm: 640rem;
  --size-breakpoint-md: 960rem;
  --size-breakpoint-lg: 1200rem;
  --size-breakpoint-xl: 1440rem;
  --size-max-content-width: 1440rem;
  --size-min-content-width: 320rem;
  --size-chart-width: 1080rem;
  --font-size-xs: 13.223;
  --font-size-s: 14.545;
  --font-size-m: 16;
  --font-size-l: 21.28;
  --font-size-xl: 28.302;
  --font-size-xxl: 37.642;
  --space-xxxxs: 3.161;
  --space-xxxs: 4.741;
  --space-xxs: 7.111;
  --space-xs: 10.667;
  --space-s: 16;
  --space-m: 24;
  --space-l: 36;
  --space-xl: 54;
  --space-xxl: 81;
  --space-xxxl: 121.5;
  --space-xxxxl: 182.25;
  --space-xxxxxl: 273.375;
  --border-radius-base: 2;
  --border-radius-bigger: 5;
  --parameter-font-size-scale-factor: 1.33;
  --parameter-font-size-scale-factor-below-one: 1.1;
  --parameter-font-size-base: 16;
  --parameter-space-scale-factor: 1.5;
  --parameter-space-scale-factor-below-one: 1.5;
  --parameter-space-base: 24;
  --border-width-s: 0.5;
  --border-width-m: 1;
  --border-width-l: 2;
  --border-width-xl: 3;
  --border-width-xxl: 4;
  --border-width-double-s: 1;
  --border-width-double-m: 2;
  --border-width-double-l: 4;
  --border-width-double-xl: 6;
  --border-width-double-xxl: 8;
  --background-base: #FFF;
  --background-weaker: #f1f2f3;
  --background-weakest: #e0e2e4;
  --foreground-base: #191919;
  --foreground-weaker: #6b7581;
  --foreground-weakest: #c0c8d2;
  --text-base: #191919;
  --text-weaker: #6b7581;
  --theme-weaker: #79ABBC;
  --theme-base: #377796;
  --theme-stronger: #0E3E63;
  --functional-accent: #ffcb01;
  --functional-filtered-out: #BEC5C9;
  --functional-focus: #ffcb01;
  --functional-not-available: #b2b2b2;
  --category-base-0: #297cb5;
  --category-base-1: #905ea7;
  --category-base-2: #de5f4a;
  --category-base-3: #FFA81B;
  --category-base-4: #51a27c;
  --category-base-5: #9da61d;
  --category-base-99: #9ea9b5;
  --category-weaker-0: #83bad9;
  --category-weaker-1: #b386c8;
  --category-weaker-2: #e38c7c;
  --category-weaker-3: #f8c975;
  --category-weaker-4: #83c0a4;
  --category-weaker-5: #ced56d;
  --category-weaker-99: #c0c8d2;
  --category-stronger-0: #0161a3;
  --category-stronger-1: #492658;
  --category-stronger-2: #a72817;
  --category-stronger-3: #b26d00;
  --category-stronger-4: #0b5932;
  --category-stronger-5: #565d00;
  --category-stronger-99: #6b7581;
  --diverging-negative-1: #e98676;
  --diverging-negative-2: #a12917;
  --diverging-neutral: #e0e2e4;
  --diverging-positive-1: #0E3E63;
  --diverging-positive-2: #79ABBC;
  --complementary-weaker: #e98676;
  --complementary-base: #dc6454;
  --complementary-stronger: #a12917;
  --sequential-0: #C3D6DC;
  --sequential-1: #79ABBC;
  --sequential-2: #377796;
  --sequential-3: #0E3E63;
  --sequential-positive-0: #C3D6DC;
  --sequential-positive-1: #79ABBC;
  --sequential-positive-2: #377796;
  --sequential-positive-3: #0E3E63;
  --sequential-negative-0: #fbc8bf;
  --sequential-negative-1: #e98676;
  --sequential-negative-2: #c9513f;
  --sequential-negative-3: #a12917;
}
