:root {
  --typography-styles-base-font-family: Inter;
  --typography-styles-base-font-weight: 400;
  --typography-styles-base-line-height: 160%;
  --typography-styles-base-font-size: 16;
  --typography-styles-base-letter-spacing: 0%;
  --typography-styles-base-paragraph-spacing: 8;
  --typography-styles-base-text-decoration: none;
  --typography-styles-base-text-case: none;
  --typography-styles-huge-font-family: Inter;
  --typography-styles-huge-font-weight: 700;
  --typography-styles-huge-line-height: 115%;
  --typography-styles-huge-font-size: 37.642;
  --typography-styles-huge-letter-spacing: 0%;
  --typography-styles-huge-paragraph-spacing: 8;
  --typography-styles-huge-text-decoration: none;
  --typography-styles-huge-text-case: none;
  --typography-styles-title-font-family: Inter;
  --typography-styles-title-font-weight: 700;
  --typography-styles-title-line-height: 115%;
  --typography-styles-title-font-size: 28.302;
  --typography-styles-title-letter-spacing: 0%;
  --typography-styles-title-paragraph-spacing: 8;
  --typography-styles-title-text-decoration: none;
  --typography-styles-title-text-case: none;
  --typography-styles-major-primary-font-family: Inter;
  --typography-styles-major-primary-font-weight: 700;
  --typography-styles-major-primary-line-height: 145%;
  --typography-styles-major-primary-font-size: 16;
  --typography-styles-major-primary-letter-spacing: 0%;
  --typography-styles-major-primary-paragraph-spacing: 8;
  --typography-styles-major-primary-text-decoration: none;
  --typography-styles-major-primary-text-case: none;
  --typography-styles-major-secondary-font-family: Inter;
  --typography-styles-major-secondary-font-weight: 400;
  --typography-styles-major-secondary-line-height: 145%;
  --typography-styles-major-secondary-font-size: 16;
  --typography-styles-major-secondary-letter-spacing: 0%;
  --typography-styles-major-secondary-paragraph-spacing: 8;
  --typography-styles-major-secondary-text-decoration: none;
  --typography-styles-major-secondary-text-case: none;
  --typography-styles-minor-primary-font-family: Inter;
  --typography-styles-minor-primary-font-weight: 700;
  --typography-styles-minor-primary-line-height: 115%;
  --typography-styles-minor-primary-font-size: 14.545;
  --typography-styles-minor-primary-letter-spacing: 0%;
  --typography-styles-minor-primary-paragraph-spacing: 8;
  --typography-styles-minor-primary-text-decoration: none;
  --typography-styles-minor-primary-text-case: none;
  --typography-styles-minor-secondary-font-family: Inter;
  --typography-styles-minor-secondary-font-weight: 400;
  --typography-styles-minor-secondary-line-height: 115%;
  --typography-styles-minor-secondary-font-size: 14.545;
  --typography-styles-minor-secondary-letter-spacing: 0%;
  --typography-styles-minor-secondary-paragraph-spacing: 8;
  --typography-styles-minor-secondary-text-decoration: none;
  --typography-styles-minor-secondary-text-case: none;
  --typography-font-family-base: Inter;
  --typography-font-family-heading: Inter;
  --typography-font-family-mono: IBM Plex Mono;
  --typography-line-height-base: 160%;
  --typography-line-height-tighter: 145%;
  --typography-line-height-tightest: 115%;
  --typography-font-weight-regular: 400;
  --typography-font-weight-bold: 700;
  --typography-font-weight-semi-bold: 600;
  --typography-letter-spacing-base: 0%;
  --typography-letter-spacing-looser: 15%;
  --typography-paragraph-spacing-none: 0;
  --typography-paragraph-spacing-base: 8;
  --typography-text-case-none: none;
  --typography-text-case-uppercase: uppercase;
  --typography-text-decoration-none: none;
  --meta-project-title: <BRAND>;
  --meta-version: v0.9.0;
  --meta-project-subtitle: Data Design Language;
  --meta-last-updated: 1986;
  --meta-authors: Moritz Stefaner / Truth & Beauty with Christian Laesser, Alice Thudt, Flavio Gortana;
  --effect-depth-card-x: 1;
  --effect-depth-card-y: 1;
  --effect-depth-card-blur: 3;
  --effect-depth-card-spread: 0;
  --effect-depth-card-color: #00000033;
  --effect-depth-card-type: dropShadow;
  --effect-depth-hover-x: 3;
  --effect-depth-hover-y: 3;
  --effect-depth-hover-blur: 6;
  --effect-depth-hover-spread: 0;
  --effect-depth-hover-color: #00000033;
  --effect-depth-hover-type: dropShadow;
  --effect-depth-modal-color: #00000033;
  --effect-depth-modal-type: dropShadow;
  --effect-depth-modal-x: 0;
  --effect-depth-modal-y: 7;
  --effect-depth-modal-blur: 10;
  --effect-depth-modal-spread: 0;
  --effect-depth-ui-x: 1;
  --effect-depth-ui-y: 1;
  --effect-depth-ui-blur: 2;
  --effect-depth-ui-spread: 0;
  --effect-depth-ui-color: #00000033;
  --effect-depth-ui-type: dropShadow;
  --size-parameter-font-size-scale-factor: 1.33rem;
  --size-parameter-font-size-scale-factor-below-one: 1.1rem;
  --size-parameter-font-size-base: 16rem;
  --size-parameter-space-scale-factor: 1.5rem;
  --size-parameter-space-scale-factor-below-one: 1.5rem;
  --size-parameter-space-base: 24rem;
  --size-breakpoint-xs: 480rem;
  --size-breakpoint-sm: 640rem;
  --size-breakpoint-md: 960rem;
  --size-breakpoint-lg: 1200rem;
  --size-breakpoint-xl: 1440rem;
  --size-max-content-width: 1440rem;
  --size-min-content-width: 320rem;
  --size-chart-width: 1080rem;
  --size-font-size-xs: 13.223rem;
  --size-font-size-s: 14.545rem;
  --size-font-size-m: 16rem;
  --size-font-size-l: 21.28rem;
  --size-font-size-xl: 28.302rem;
  --size-font-size-xxl: 37.642rem;
  --size-space-xxxxs: 3.161rem;
  --size-space-xxxs: 4.741rem;
  --size-space-xxs: 7.111rem;
  --size-space-xs: 10.667rem;
  --size-space-s: 16rem;
  --size-space-m: 24rem;
  --size-space-l: 36rem;
  --size-space-xl: 54rem;
  --size-space-xxl: 81rem;
  --size-space-xxxl: 121.5rem;
  --size-space-xxxxl: 182.25rem;
  --size-space-xxxxxl: 273.375rem;
  --size-border-radius-base: 2rem;
  --size-border-radius-bigger: 5rem;
  --size-border-width-s: 0.5rem;
  --size-border-width-m: 1rem;
  --size-border-width-l: 2rem;
  --size-border-width-xl: 3rem;
  --size-border-width-xxl: 4rem;
  --size-border-width-double-s: 1rem;
  --size-border-width-double-m: 2rem;
  --size-border-width-double-l: 4rem;
  --size-border-width-double-xl: 6rem;
  --size-border-width-double-xxl: 8rem;
  --color-background-base: #ffffff;
  --color-background-weaker: #f1f2f3;
  --color-background-weakest: #e0e2e4;
  --color-foreground-base: #191919;
  --color-foreground-weaker: #6b7581;
  --color-foreground-weakest: #c0c8d2;
  --color-text-base: #191919;
  --color-text-weaker: #6b7581;
  --color-theme-weaker: #79abbc;
  --color-theme-base: #377796;
  --color-theme-stronger: #0e3e63;
  --color-functional-accent: #ffcb01;
  --color-functional-filtered-out: #bec5c9;
  --color-functional-focus: #ffcb01;
  --color-functional-not-available: #b2b2b2;
  --color-category-base-0: #297cb5;
  --color-category-base-1: #905ea7;
  --color-category-base-2: #de5f4a;
  --color-category-base-3: #ffa81b;
  --color-category-base-4: #51a27c;
  --color-category-base-5: #9da61d;
  --color-category-base-99: #9ea9b5;
  --color-category-weaker-0: #83bad9;
  --color-category-weaker-1: #b386c8;
  --color-category-weaker-2: #e38c7c;
  --color-category-weaker-3: #f8c975;
  --color-category-weaker-4: #83c0a4;
  --color-category-weaker-5: #ced56d;
  --color-category-weaker-99: #c0c8d2;
  --color-category-stronger-0: #0161a3;
  --color-category-stronger-1: #492658;
  --color-category-stronger-2: #a72817;
  --color-category-stronger-3: #b26d00;
  --color-category-stronger-4: #0b5932;
  --color-category-stronger-5: #565d00;
  --color-category-stronger-99: #6b7581;
  --color-diverging-negative-1: #e98676;
  --color-diverging-negative-2: #a12917;
  --color-diverging-neutral: #e0e2e4;
  --color-diverging-positive-1: #0e3e63;
  --color-diverging-positive-2: #79abbc;
  --color-complementary-weaker: #e98676;
  --color-complementary-base: #dc6454;
  --color-complementary-stronger: #a12917;
  --color-sequential-0: #c3d6dc;
  --color-sequential-1: #79abbc;
  --color-sequential-2: #377796;
  --color-sequential-3: #0e3e63;
  --color-sequential-positive-0: #c3d6dc;
  --color-sequential-positive-1: #79abbc;
  --color-sequential-positive-2: #377796;
  --color-sequential-positive-3: #0e3e63;
  --color-sequential-negative-0: #fbc8bf;
  --color-sequential-negative-1: #e98676;
  --color-sequential-negative-2: #c9513f;
  --color-sequential-negative-3: #a12917;
}
