:root {
  --docs-color-specs-line: #a034ff;
  --docs-color-specs-text: #7400d7;
  --docs-parameter-small-space-scale-factor-below-one: 1.5;
  --docs-parameter-small-space-scale-factor: 1.5;
  --docs-parameter-small-font-size-base: 14;
  --docs-parameter-small-font-size-scale-factor-below-one: 1.1;
  --docs-parameter-small-font-size-scale-factor: 1.25;
  --docs-parameter-large-space-scale-factor-below-one: 1.5;
  --docs-parameter-large-space-scale-factor: 1.5;
  --docs-parameter-large-font-size-base: 18;
  --docs-parameter-large-font-size-scale-factor-below-one: 1.2;
  --docs-parameter-large-font-size-scale-factor: 1.5;
  --docs-typography-font-weight-semi-bold: 600;
  --docs-parameter-small-space-base: var(--docs-parameter-small-font-size-base) * var(--docs-parameter-small-space-scale-factor);
  --docs-parameter-large-space-base: var(--docs-parameter-large-font-size-base) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-font-size-m: 18;
  --docs-typography-text-decoration-none: var(--typography-text-decoration-none);
  --docs-typography-text-case-uppercase: var(--typography-text-case-uppercase);
  --docs-typography-text-case-none: var(--typography-text-case-none);
  --docs-typography-paragraph-spacing-none: 0;
  --docs-typography-letter-spacing-looser: var(--typography-letter-spacing-looser);
  --docs-typography-letter-spacing-base: var(--typography-letter-spacing-base);
  --docs-typography-line-height-tightest: var(--typography-line-height-tightest);
  --docs-typography-line-height-tighter: var(--typography-line-height-tighter);
  --docs-typography-line-height-base: var(--typography-line-height-base);
  --docs-typography-font-weight-bold: 700;
  --docs-typography-font-weight-regular: 400;
  --docs-typography-font-family-mono: var(--typography-font-family-mono);
  --docs-typography-font-family-heading: var(--typography-font-family-heading);
  --docs-typography-font-family-base: var(--typography-font-family-base);
  --docs-color-foreground-weakest: var(--color-foreground-weakest);
  --docs-color-foreground-weaker: var(--color-foreground-weaker);
  --docs-color-foreground-base: var(--color-foreground-base);
  --docs-color-background-weaker: var(--color-background-weaker);
  --docs-color-background-base: var(--color-background-base);
  --docs-color-text-weaker: rgba(var(--color-text-base), .66);
  --docs-color-text-base: var(--color-text-base);
  --docs-size-space-m: var(--docs-parameter-large-space-base);
  --docs-size-font-size-l: var(--docs-size-font-size-m) * var(--docs-parameter-large-font-size-scale-factor);
  --docs-size-font-size-s: var(--docs-size-font-size-m) / var(--docs-parameter-large-font-size-scale-factor-below-one);
  --docs-typography-paragraph-spacing-base: var(--docs-size-font-size-m) * 1.5;
  --docs-typography-style-display-value-small: [object Object];
  --docs-typography-style-display-value: [object Object];
  --docs-typography-style-key-small: [object Object];
  --docs-typography-style-key: [object Object];
  --docs-typography-style-large: [object Object];
  --docs-typography-style-small: [object Object];
  --docs-typography-style-table-header: [object Object];
  --docs-typography-style-base: [object Object];
  --docs-typography-style-h4: [object Object];
  --docs-typography-style-h3: [object Object];
  --docs-typography-style-h2: [object Object];
  --docs-typography-style-h1: [object Object];
  --docs-size-space-l: var(--docs-size-space-m) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-space-s: var(--docs-size-space-m) / var(--docs-parameter-large-space-scale-factor-below-one);
  --docs-size-font-size-xl: var(--docs-size-font-size-l) * var(--docs-parameter-large-font-size-scale-factor);
  --docs-size-font-size-xs: var(--docs-size-font-size-s) / var(--docs-parameter-large-font-size-scale-factor-below-one);
  --docs-size-space-xl: var(--docs-size-space-l) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-space-xs: var(--docs-size-space-s) / var(--docs-parameter-large-space-scale-factor-below-one);
  --docs-size-space-size-m: var(--size-space-m);
  --docs-size-font-size-xxl: var(--docs-size-font-size-xl) * var(--docs-parameter-large-font-size-scale-factor);
  --docs-size-space-xxl: var(--docs-size-space-xl) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-space-xxs: var(--docs-size-space-xs) / var(--docs-parameter-large-space-scale-factor-below-one);
  --docs-size-space-size-l: var(--size-space-l);
  --docs-size-space-size-s: var(--size-space-s);
  --docs-size-font-size-xxxl: var(--docs-size-font-size-xxl) * var(--docs-parameter-large-font-size-scale-factor);
  --docs-size-space-xxxl: var(--docs-size-space-xxl) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-space-xxxs: var(--docs-size-space-xxs) / var(--docs-parameter-large-space-scale-factor-below-one);
  --docs-size-space-size-xl: var(--size-space-xl);
  --docs-size-space-size-xs: var(--size-space-xs);
  --docs-size-font-size-xxxxl: var(--docs-size-font-size-xxxl) * var(--docs-parameter-large-font-size-scale-factor);
  --docs-size-space-xxxxl: var(--docs-size-space-xxxl) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-space-xxxxs: var(--docs-size-space-xxxs) / var(--docs-parameter-large-space-scale-factor-below-one);
  --docs-size-space-size-xxl: var(--size-space-xxl);
  --docs-size-space-size-xxs: var(--size-space-xxs);
  --docs-size-font-size-xxxxxl: var(--docs-size-font-size-xxxxl) * var(--docs-parameter-large-font-size-scale-factor);
  --docs-size-space-xxxxxl: var(--docs-size-space-xxxxl) * var(--docs-parameter-large-space-scale-factor);
  --docs-size-space-size-xxxl: var(--size-space-xxxl);
  --docs-size-space-size-xxxs: var(--size-space-xxxs);
  --docs-size-space-size-xxxxl: var(--size-space-xxxxl);
  --docs-size-space-size-xxxxs: var(--size-space-xxxxs);
  --docs-size-space-size-xxxxxl: var(--size-space-xxxxxl);
}
