/*
  h1
  undefined
*/

.docs-typography-style-h1 {
  font-family: var(--docs-typography-font-family-heading);
  font-size: var(--docs-size-font-size-xxxl);
  font-weight: var(--docs-typography-font-weight-bold);
  line-height: var(--docs-typography-line-height-tightest);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  h2
  undefined
*/

.docs-typography-style-h2 {
  font-family: var(--docs-typography-font-family-heading);
  font-size: var(--docs-size-font-size-xxl);
  font-weight: var(--docs-typography-font-weight-bold);
  line-height: var(--docs-typography-line-height-tightest);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  h3
  undefined
*/

.docs-typography-style-h3 {
  font-family: var(--docs-typography-font-family-heading);
  font-size: var(--docs-size-font-size-l);
  font-weight: var(--docs-typography-font-weight-semi-bold);
  line-height: var(--docs-typography-line-height-tightest);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  h4
  undefined
*/

.docs-typography-style-h4 {
  font-family: var(--docs-typography-font-family-heading);
  font-size: var(--docs-size-font-size-m);
  font-weight: var(--docs-typography-font-weight-bold);
  line-height: var(--docs-typography-line-height-tightest);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  base
  undefined
*/

.docs-typography-style-base {
  font-family: var(--docs-typography-font-family-base);
  font-size: var(--docs-size-font-size-m);
  font-weight: var(--docs-typography-font-weight-regular);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  tableHeader
  undefined
*/

.docs-typography-style-table-header {
  font-family: var(--docs-typography-font-family-base);
  font-size: var(--docs-size-font-size-m);
  font-weight: var(--docs-typography-font-weight-semi-bold);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  small
  undefined
*/

.docs-typography-style-small {
  font-family: var(--docs-typography-font-family-base);
  font-size: var(--docs-size-font-size-s);
  font-weight: var(--docs-typography-font-weight-regular);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  large
  undefined
*/

.docs-typography-style-large {
  font-family: var(--docs-typography-font-family-base);
  font-size: var(--docs-size-font-size-l);
  font-weight: var(--docs-typography-font-weight-regular);
  line-height: var(--docs-typography-line-height-tighter);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  key
  undefined
*/

.docs-typography-style-key {
  font-family: var(--docs-typography-font-family-base);
  font-size: var(--docs-size-font-size-s);
  font-weight: var(--docs-typography-font-weight-semi-bold);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  keySmall
  undefined
*/

.docs-typography-style-key-small {
  font-family: var(--docs-typography-font-family-base);
  font-size: var(--docs-size-font-size-xs);
  font-weight: var(--docs-typography-font-weight-bold);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  displayValue
  undefined
*/

.docs-typography-style-display-value {
  font-family: var(--docs-typography-font-family-mono);
  font-size: var(--docs-size-font-size-s);
  font-weight: var(--docs-typography-font-weight-regular);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}

/*
  displayValueSmall
  undefined
*/

.docs-typography-style-display-value-small {
  font-family: var(--docs-typography-font-family-mono);
  font-size: var(--docs-size-font-size-xs);
  font-weight: var(--docs-typography-font-weight-regular);
  line-height: var(--docs-typography-line-height-base);
  letter-spacing: var(--docs-typography-letter-spacing-base);
  text-transform: var(--docs-typography-text-case-none);
  text-decoration: var(--docs-typography-text-decoration-none);
}
