:root {
  --size-large-parameter-font-size-scale-factor: 1.33;
  --size-large-parameter-font-size-scale-factor-below-one: 1.1;
  --size-large-parameter-font-size-base: 16;
  --size-large-parameter-space-scale-factor: 1.5;
  --size-large-parameter-space-scale-factor-below-one: 1.5;
  --size-large-parameter-space-base: 24;
  --size-large-chart-width: 1080;
  --size-large-viewport-limit: 1440;
  --size-large-meta-label: Large;
  --size-large-font-size-xs: 13.223;
  --size-large-font-size-s: 14.545;
  --size-large-font-size-m: 16;
  --size-large-font-size-l: 21.28;
  --size-large-font-size-xl: 28.302;
  --size-large-font-size-xxl: 37.642;
  --size-large-space-xxxxs: 3.161;
  --size-large-space-xxxs: 4.741;
  --size-large-space-xxs: 7.111;
  --size-large-space-xs: 10.667;
  --size-large-space-s: 16;
  --size-large-space-m: 24;
  --size-large-space-l: 36;
  --size-large-space-xl: 54;
  --size-large-space-xxl: 81;
  --size-large-space-xxxl: 121.5;
  --size-large-space-xxxxl: 182.25;
  --size-large-space-xxxxxl: 273.375;
  --size-small-parameter-font-size-scale-factor: 1.2;
  --size-small-parameter-font-size-scale-factor-below-one: 1.1;
  --size-small-parameter-font-size-base: 14;
  --size-small-parameter-space-scale-factor: 1.25;
  --size-small-parameter-space-scale-factor-below-one: 1.25;
  --size-small-parameter-space-base: 17.5;
  --size-small-chart-width: 480;
  --size-small-viewport-limit: 320;
  --size-small-meta-label: Small;
  --size-small-font-size-xs: 11.57;
  --size-small-font-size-s: 12.727;
  --size-small-font-size-m: 14;
  --size-small-font-size-l: 16.8;
  --size-small-font-size-xl: 20.16;
  --size-small-font-size-xxl: 24.192;
  --size-small-space-xxxxs: 5.734;
  --size-small-space-xxxs: 7.168;
  --size-small-space-xxs: 8.96;
  --size-small-space-xs: 11.2;
  --size-small-space-s: 14;
  --size-small-space-m: 17.5;
  --size-small-space-l: 21.875;
  --size-small-space-xl: 27.344;
  --size-small-space-xxl: 34.18;
  --size-small-space-xxxl: 42.725;
  --size-small-space-xxxxl: 53.406;
  --size-small-space-xxxxxl: 66.757;
}
