.size-small {
  --typography-style-minor-secondary: [object Object]; /* Used for tick labels, secondary annotations, footer text. */
  --typography-style-minor-primary: [object Object]; /* Used for smaller annotations in charts. */
  --typography-style-major-secondary: [object Object]; /* Used for secondary legend labels, description, and the chart subtitle. */
  --typography-style-major-primary: [object Object]; /* Used for legend main labels, as well as individual value annotations. */
  --typography-style-title: [object Object]; /* Used for the title of a chart. */
  --typography-style-huge: [object Object]; /* Used for summary statistics, large numbers, etc. */
  --typography-style-base: [object Object]; /* The default text style. */
  --typography-text-decoration-none: none;
  --typography-text-case-uppercase: uppercase;
  --typography-text-case-none: none;
  --typography-paragraph-spacing-base: 8;
  --typography-paragraph-spacing-none: 0;
  --typography-letter-spacing-looser: 15%;
  --typography-letter-spacing-base: 0%;
  --typography-font-weight-semi-bold: 600;
  --typography-font-weight-bold: 700;
  --typography-font-weight-regular: 400;
  --typography-line-height-tightest: 115%;
  --typography-line-height-tighter: 145%;
  --typography-line-height-base: 160%;
  --typography-font-family-mono: Fira Mono;
  --typography-font-family-heading: Inter;
  --typography-font-family-base: Inter;
  --size-space-xxxxxl: 66.757px;
  --size-space-xxxxl: 53.406px;
  --size-space-xxxl: 42.725px;
  --size-space-xxl: 34.18px;
  --size-space-xl: 27.344px;
  --size-space-l: 21.875px;
  --size-space-m: 17.5px;
  --size-space-s: 14px;
  --size-space-xs: 11.2px;
  --size-space-xxs: 8.96px;
  --size-space-xxxs: 7.168px;
  --size-space-xxxxs: 5.734px;
  --size-font-size-xxl: 24px;
  --size-font-size-xl: 20px;
  --size-font-size-l: 17px;
  --size-font-size-m: 14px;
  --size-font-size-s: 13px;
  --size-font-size-xs: 11px;
  --size-meta-label: Small;
  --size-viewport-limit: 320px;
  --size-chart-width: 480px;
  --size-parameter-space-base: 17.5;
  --size-parameter-space-scale-factor-below-one: 1.25;
  --size-parameter-space-scale-factor: 1.25;
  --size-parameter-font-size-base: 14;
  --size-parameter-font-size-scale-factor-below-one: 1.1;
  --size-parameter-font-size-scale-factor: 1.2;
}
