:root {
  --color-light-sequential-negative-3: #a12917;
  --color-light-sequential-negative-2: #c9513f;
  --color-light-sequential-negative-1: #e98676;
  --color-light-sequential-negative-0: #fbc8bf;
  --color-light-sequential-positive-3: #0e3e63; /* Third and final step in the base (theme) sequential color scale. */
  --color-light-sequential-positive-2: #377796; /* Thirs step in the base (theme) sequential color scale. */
  --color-light-sequential-positive-1: #79abbc; /* Second step in the base (theme) sequential color scale. */
  --color-light-sequential-positive-0: #c3d6dc; /* First step in the base (theme) sequential color scale, used for the lowest value.  */
  --color-light-sequential-3: #0e3e63;
  --color-light-sequential-2: #377796;
  --color-light-sequential-1: #79abbc;
  --color-light-sequential-0: #c3d6dc;
  --color-light-complementary-stronger: #a12917; /* Stronger version of complementary color. */
  --color-light-complementary-base: #dc6454; /* Main complementary color. */
  --color-light-complementary-weaker: #e98676; /* Weaker version of complementary color. */
  --color-light-diverging-positive-2: #79abbc; /* Fourth step in the base diverging color scale, used for values higher than zero (or data median). */
  --color-light-diverging-positive-1: #0e3e63; /* Fifth step in the base diverging color scale, used for the highest (most positive) value.  */
  --color-light-diverging-neutral: #e0e2e4; /* Third step in the base diverging color scale, used for zero or data median. */
  --color-light-diverging-negative-2: #a12917; /* First step in the based diverging color scale, used for the lowest (most negative) value.  */
  --color-light-diverging-negative-1: #e98676; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-light-category-stronger-99: #6b7581;
  --color-light-category-stronger-5: #565d00;
  --color-light-category-stronger-4: #0b5932;
  --color-light-category-stronger-3: #b26d00;
  --color-light-category-stronger-2: #a72817;
  --color-light-category-stronger-1: #492658;
  --color-light-category-stronger-0: #0161a3;
  --color-light-category-weaker-99: #c0c8d2;
  --color-light-category-weaker-5: #ced56d;
  --color-light-category-weaker-4: #83c0a4;
  --color-light-category-weaker-3: #f8c975;
  --color-light-category-weaker-2: #e38c7c;
  --color-light-category-weaker-1: #b386c8;
  --color-light-category-weaker-0: #83bad9;
  --color-light-category-base-99: #9ea9b5;
  --color-light-category-base-5: #9da61d;
  --color-light-category-base-4: #51a27c;
  --color-light-category-base-3: #ffa81b;
  --color-light-category-base-2: #de5f4a;
  --color-light-category-base-1: #905ea7;
  --color-light-category-base-0: #297cb5;
  --color-light-functional-not-available: #b2b2b2; /* Used for visual marks (e.g. countries in maps) where data is missing from the dataset. */
  --color-light-functional-focus: #ffcb01; /* Used for author-driven accents of parts of charts, texts and other elements. */
  --color-light-functional-filtered-out: #bec5c9; /* Used for visual marks in charts that have been filtered out. */
  --color-light-functional-accent: #ffcb01; /* Used for author-driven accents of parts of charts, texts and other elements. */
  --color-light-theme-stronger: #0e3e63; /* Stronger version of theme color */
  --color-light-theme-base: #377796; /* Main theme color, usually the brand color. */
  --color-light-theme-weaker: #79abbc; /* Weaker version of theme color */
  --color-light-text-weaker: #6b7581; /* Text color with weaker background contrast. */
  --color-light-text-base: #191919; /* Default text color for strong background contrast. */
  --color-light-foreground-weakest: #c0c8d2; /* Used for elements in the foreground that have the weakest contrast to the background (e.g. ticks, help-lines) */
  --color-light-foreground-weaker: #6b7581; /* Used for elements in the foreground that have a weaker contrast to the background (e.g. axes). */
  --color-light-foreground-base: #191919; /* Used for elements in the foreground that have a strong contrast to the background. */
  --color-light-background-weakest: #e0e2e4; /* A shaded background color, used e.g. as a backdrop in containers. */
  --color-light-background-weaker: #f1f2f3; /* A slightly shaded background color, used e.g. as a backdrop behind card elements. */
  --color-light-background-base: #ffffff; /* The default light background color, used e.g. as a backdrop for charts or cards. */
  --color-light-meta-label: #000000;
  --color-dark-sequential-negative-3: #f38c7c;
  --color-dark-sequential-negative-2: #da5c4b;
  --color-dark-sequential-negative-1: #a7332a;
  --color-dark-sequential-negative-0: #601817;
  --color-dark-sequential-positive-3: #9ed0dd;
  --color-dark-sequential-positive-2: #66b5cb;
  --color-dark-sequential-positive-1: #348ba1;
  --color-dark-sequential-positive-0: #175462;
  --color-dark-sequential-3: #9ed0dd;
  --color-dark-sequential-2: #66b5cb;
  --color-dark-sequential-1: #348ba1;
  --color-dark-sequential-0: #175462;
  --color-dark-diverging-negative-2: #da5c4b;
  --color-dark-diverging-negative-1: #832521;
  --color-dark-diverging-neutral: #2c343e;
  --color-dark-diverging-positive-2: #66b5cb;
  --color-dark-diverging-positive-1: #256f81;
  --color-dark-complementary-stronger: #da5c4b; /* First step in the based diverging color scale, used for the lowest (most negative) value.  */
  --color-dark-complementary-weaker: #832521; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-dark-complementary-base: #cc4233; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-dark-category-weaker-99: #6b7581;
  --color-dark-category-weaker-5: #575b20;
  --color-dark-category-weaker-4: #366d53;
  --color-dark-category-weaker-3: #a07730;
  --color-dark-category-weaker-2: #993d31;
  --color-dark-category-weaker-1: #613f70;
  --color-dark-category-weaker-0: #124874;
  --color-dark-category-base-99: #9ea9b5;
  --color-dark-category-base-5: #7e8518;
  --color-dark-category-base-4: #458a69;
  --color-dark-category-base-3: #dc9d38;
  --color-dark-category-base-2: #c85543;
  --color-dark-category-base-1: #825497;
  --color-dark-category-base-0: #22699a;
  --color-dark-category-stronger-99: #c0c8d2;
  --color-dark-category-stronger-5: #ced56d;
  --color-dark-category-stronger-4: #83c0a4;
  --color-dark-category-stronger-3: #f8c975;
  --color-dark-category-stronger-2: #e38c7c;
  --color-dark-category-stronger-1: #b386c8;
  --color-dark-category-stronger-0: #83bad9;
  --color-dark-functional-filtered-out: #474b69;
  --color-dark-functional-not-available: #cccccc;
  --color-dark-functional-focus: #ffcb01;
  --color-dark-functional-accent: #ffcb01;
  --color-dark-theme-stronger: #83c3d4;
  --color-dark-theme-weaker: #256f81;
  --color-dark-theme-base: #44a8c3;
  --color-dark-text-stronger: #ffffff; /* Stronger text color for maximum background contrast. */
  --color-dark-text-base: #f8f8f8;
  --color-dark-text-weaker: #abafb0;
  --color-dark-foreground-weakest: #717576;
  --color-dark-foreground-weaker: #abafb0;
  --color-dark-foreground-base: #eaeaea;
  --color-dark-background-weakest: #666666;
  --color-dark-background-weaker: #333333; /* slightly shaded background */
  --color-dark-background-base: #111111;
  --color-dark-meta-label: #000000;
  --size-small-space-xxxxxl: 66.757px;
  --size-small-space-xxxxl: 53.406px;
  --size-small-space-xxxl: 42.725px;
  --size-small-space-xxl: 34.18px;
  --size-small-space-xl: 27.344px;
  --size-small-space-l: 21.875px;
  --size-small-space-m: 17.5px;
  --size-small-space-s: 14px;
  --size-small-space-xs: 11.2px;
  --size-small-space-xxs: 8.96px;
  --size-small-space-xxxs: 7.168px;
  --size-small-space-xxxxs: 5.734px;
  --size-small-font-size-xxl: 24.192px;
  --size-small-font-size-xl: 20.16px;
  --size-small-font-size-l: 16.8px;
  --size-small-font-size-m: 14px;
  --size-small-font-size-s: 12.727px;
  --size-small-font-size-xs: 11.57px;
  --size-small-config-small-space-base: 17.5;
  --size-small-config-small-space-scale-factor-below-one: 1.25;
  --size-small-config-small-space-scale-factor: 1.25;
  --size-small-config-small-font-size-base: 14;
  --size-small-config-small-font-size-scale-factor-below-one: 1.1;
  --size-small-config-small-font-size-scale-factor: 1.2;
  --size-small-config-large-space-base: 24;
  --size-small-config-large-space-scale-factor-below-one: 1.5;
  --size-small-config-large-space-scale-factor: 1.5;
  --size-small-config-large-font-size-base: 16;
  --size-small-config-large-font-size-scale-factor-below-one: 1.1;
  --size-small-config-large-font-size-scale-factor: 1.33;
  --size-small-meta-label: Small;
  --size-small-viewport-limit: 480px;
  --size-small-chart-width: 480px;
  --size-small-parameter-space-base: 17.5;
  --size-small-parameter-space-scale-factor-below-one: 1.25;
  --size-small-parameter-space-scale-factor: 1.25;
  --size-small-parameter-font-size-base: 14;
  --size-small-parameter-font-size-scale-factor-below-one: 1.1;
  --size-small-parameter-font-size-scale-factor: 1.2;
  --size-large-space-xxxxxl: 273.375px;
  --size-large-space-xxxxl: 182.25px;
  --size-large-space-xxxl: 121.5px;
  --size-large-space-xxl: 81px;
  --size-large-space-xl: 54px;
  --size-large-space-l: 36px;
  --size-large-space-m: 24px;
  --size-large-space-s: 16px;
  --size-large-space-xs: 10.667px;
  --size-large-space-xxs: 7.111px;
  --size-large-space-xxxs: 4.741px;
  --size-large-space-xxxxs: 3.161px;
  --size-large-font-size-xxl: 37.642px;
  --size-large-font-size-xl: 28.302px;
  --size-large-font-size-l: 21.28px;
  --size-large-font-size-m: 16px;
  --size-large-font-size-s: 14.545px;
  --size-large-font-size-xs: 13.223px;
  --size-large-config-small-space-base: 17.5;
  --size-large-config-small-space-scale-factor-below-one: 1.25;
  --size-large-config-small-space-scale-factor: 1.25;
  --size-large-config-small-font-size-base: 14;
  --size-large-config-small-font-size-scale-factor-below-one: 1.1;
  --size-large-config-small-font-size-scale-factor: 1.2;
  --size-large-config-large-space-base: 24;
  --size-large-config-large-space-scale-factor-below-one: 1.5;
  --size-large-config-large-space-scale-factor: 1.5;
  --size-large-config-large-font-size-base: 16;
  --size-large-config-large-font-size-scale-factor-below-one: 1.1;
  --size-large-config-large-font-size-scale-factor: 1.33;
  --size-large-meta-label: Large;
  --size-large-viewport-limit: 1440px;
  --size-large-chart-width: 1080px;
  --size-large-parameter-space-base: 24;
  --size-large-parameter-space-scale-factor-below-one: 1.5;
  --size-large-parameter-space-scale-factor: 1.5;
  --size-large-parameter-font-size-base: 16;
  --size-large-parameter-font-size-scale-factor-below-one: 1.1;
  --size-large-parameter-font-size-scale-factor: 1.33;
  --size-border-width-double-xxl: 8px; /* Double size of respective border token, for e.g. line background strokes. */
  --size-border-width-double-xl: 6px; /* Double size of respective border token, for e.g. line background strokes. */
  --size-border-width-double-l: 4px; /* Double size of respective border token, for e.g. line background strokes. */
  --size-border-width-double-m: 2px; /* Double size of respective border token, for e.g. line background strokes. */
  --size-border-width-double-s: 1px; /* Double size of respective border token, for e.g. line background strokes. */
  --size-border-width-xxl: 4px; /* The largest border size. Used for the top chart container line. */
  --size-border-width-xl: 3px; /* A larger border size. Used for lines in focus, and the bottom chart container line. */
  --size-border-width-l: 2px; /* A larger border size. Used for borders between filled elements. */
  --size-border-width-m: 1px; /* The default border size. Used for axes borders, default data lines. */
  --size-border-width-s: 0.5px; /* The smallest border size. Used for gridlines. */
  --size-border-radius-bigger: 5px;
  --size-border-radius-base: 2px;
  --size-min-content-width: 320px;
  --size-max-content-width: 1440px;
  --size-breakpoint-xl: 1440px;
  --size-breakpoint-lg: 1200px;
  --size-breakpoint-md: 960px;
  --size-breakpoint-sm: 640px;
  --size-breakpoint-xs: 480px;
  --effect-depth-ui: 1px 1px 2px 0px #00000033;
  --effect-depth-modal: 0px 7px 10px 0px #00000033;
  --effect-depth-hover: 3px 3px 6px 0px #00000033;
  --effect-depth-card: 1px 1px 3px 0px #00000033;
  --typography-text-decoration-none: none;
  --typography-text-case-uppercase: uppercase;
  --typography-text-case-none: none;
  --typography-paragraph-spacing-base: 8;
  --typography-paragraph-spacing-none: 0;
  --typography-letter-spacing-looser: 15%;
  --typography-letter-spacing-base: 0%;
  --typography-font-weight-semi-bold: 600;
  --typography-font-weight-bold: 700;
  --typography-font-weight-regular: 400;
  --typography-line-height-tightest: 115%;
  --typography-line-height-tighter: 145%;
  --typography-line-height-base: 160%;
  --typography-font-family-mono: Fira Mono;
  --typography-font-family-heading: Inter;
  --typography-font-family-base: Inter;
  --meta-authors: Moritz Stefaner / Truth & Beauty with Christian Laesser, Alice Thudt, Flavio Gortana; /* Authors */
  --meta-last-updated: 1986; /* Last updated */
  --meta-project-subtitle: Data Design Language; /* Project subtitle */
  --meta-version: v0.9.0; /* Version */
  --meta-project-title: <BRAND>; /* Project title */
}
